body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: avenir;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-transform: uppercase;
    color: grey;
    font-weight: bolder;
    text-align: center;
    font-size: larger;
}


nav{
    width: 100vw;
    height: 10vh;
    background-color: steelblue;
}

header{
    width: 100vw;
    height: 50vh;
    background-color: rgb(102, 173, 232);
}

#feature{
    width: 100vw;
    height: 60vh;
    background-color: rgb(184, 184, 184);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

#feature1{
    background-color: orange;
    grid-column: 1;
    grid-row: 1 / 4;
}

#feature2{
    background-color: rgb(189, 148, 189);
    grid-column: 2;
    grid-row: 1 / 4;
}

#feature3{
    background-color: salmon;
    grid-column: 3;
    grid-row: 1 / 4;
}

#signup{
    background-color: rgb(146, 192, 230);
    grid-column: 1 / 4;
    grid-row: 4;
}

#content{
    width: 100vw;
    height: 80vh;
    background-color: rgb(215, 215, 215);
}

/* TABLETTE */
@media (max-width: 1024px){
    nav{order: 1;}
    header{order: 2;}
    #content{order: 3;}

    #feature{
        order: 4;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    #feature1{
        background-color: orange;
        grid-column: 2 / 2;
        grid-row: 1;
    }
    
    #feature2{
        background-color: rgb(189, 148, 189);
        grid-column: 2 / 2;
        grid-row: 2;
    }
    
    #feature3{
        background-color: salmon;
        grid-column: 1 / 2;
        grid-row: 2;
    }
    
    #signup{
        background-color: rgb(146, 192, 230);
        grid-column: 1 / 2;
        grid-row: 1;
    }

}

/* SMARTPHONES */
@media (max-width: 768px){
    nav{order: 1;}
    header{order: 2;}
    #content{order: 3;}
    #feature {
        order: 4;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    #feature1{
        background-color: orange;
        grid-column: 1 / 4;
        grid-row: 2;
    }
    
    #feature2{
        background-color: rgb(189, 148, 189);
        grid-column: 1 / 4;
        grid-row: 3;
    }
    
    #feature3{
        background-color: salmon;
        grid-column: 1 / 4;
        grid-row: 4;
    }
    
    #signup{
        background-color: rgb(146, 192, 230);
        grid-column: 1 / 4;
        grid-row: 1;
    }

}